.custom_navbar-collapse {
    flex-grow: unset !important;
}

.sidebar-inner .accordion-item,
.sidebar-inner .accordion-button {
    background: none;
}

.just-p,
.text-order {
    color: $mytext !important;
}

.just-p {
    font-size: 1.6rem !important;
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    font-family: $font-family-ropa-regular !important;

    &:before {
        content: '';
        position: absolute;
        left: -20px;
        width: 3px;
        height: 100%;
        background: #9c9c9c;
    }
}

.img_contain {
    width: 100%;
}

.img_contain img {
    width: 100%;
}

.flex_text {
    display: flex;
    align-items: center;
}

.bg_transparent {
    // background: $white !important;
    // border-bottom: 1px solid rgba(62, 68, 110, .1);
    background: transparent !important;
    z-index: 1021;
}

.ok_btn {
    width: 10%;
    margin-right: 10px;
}

.section_f {
    background: url("../../../assets/img/section-f.jpg") center / cover no-repeat;
}

.ok_big_icon {
    width: 100%;
    // background: url("../../../assets/img/technologies/ok-logo-dark.svg") center / cover no-repeat;

    img {
        width: 75%;
        vertical-align: top;
    }
}

.custom-img__man {
    position: relative;

    img {
        width: 80%;
        position: absolute;
        top: -10%;
        right: -10%;
        z-index: 1999;
    }
}

.section_w {
    background: $white !important;
}

.bg_custom {
    // background-color: #EFF3FF !important;
    background-color: #FFF !important;
}

.active_link {
    border-bottom: 1px solid $mytext;
}


.btn_control{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .55rem 1rem;
}

.m_icon_size {
    font-size: 1.25rem !important;
}

.teacher_photo_td {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 40px;
        height: 40px;
    }
}

.extra_table {
    width: 500px !important;
    height: 500px !important;
    background: red !important;
}

.custom-clock__container {

    img {
        width: 30%;
        margin-right: 30px;
    }
}

.custom-btn__rounded {
    border-radius: 50px;
    padding: 12px 25px;
    font-size: 18px;

}

.custom-aqum__caps {
    font-family: $font-family-aqum-regular !important;
}

.custom-aqum__regular {
    font-family: $font-family-aqum-caps !important;
}

.custom-info__container {

    h2 {
        color: #262B40 !important;
    }

    .left-line {
        color: #262B40;
        line-height: 2rem;
        position: relative;
        margin-left: 23px;

        &:before {
            content: '';
            position: absolute;
            left: -20px;
            width: 3px;
            height: 100%;
            background: #9c9c9c;
        }
    }
}

h2 {
    margin-bottom: 20px;
}

.bg-primary {
    background-color: rgb(35, 48, 68) !important;
}

.btn-primary {
    background-color: #233044 !important;
    border: none !important;

    &:hover {
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background: rgba(0, 0, 0, 0.08);
    }
}

.RKnrV {
    background: transparent !important;
    height: auto !important;
}

.smooth-dnd-draggable-wrapper {
    padding: 5px;

    .fWjpFd {
        border-radius: 5px;
        background-color: rgba(55, 111, 208, 0.125);
        //border-top: 2px solid #233044;
        border-top: 3px solid rgb(55, 111, 208);

        .gCifIu {
            padding: 10px 5px;

            .mMtQf {
                font-size: 16px;
                font-family: inherit;
            }
        }

        .kCcqNR {
            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(55, 111, 208);
                border-radius: 3px;
            }

            .smooth-dnd-container {

                .smooth-dnd-draggable-wrapper {

                    .eDjtPr {

                        .gGgTHH {

                            .jRPmPt {
                                padding: 5px 0;

                                .gMefDG {
                                    padding: 5px;
                                    outline: none;
                                    border: none;

                                    &:focus {
                                        outline: none !important;
                                    }
                                }
                            }
                            .gPIA-dG {
                                padding: 10px 0;
                            }
                        }
                    }
                }

                textarea {
                    height: unset;
                    max-height: 200px;
                    padding: 5px !important;

                    &::-webkit-scrollbar {
                        width: 6px;
                    }

                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        border-radius: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: rgb(55, 111, 208);
                        border-radius: 3px;
                    }
                }

            }
        }
    }

}

.fFPUbn {
    border: none;
    outline: none;
    background: rgb(55, 111, 208) !important;
}

.bflSfR {
    border: 1px solid rgb(55, 111, 208) !important;
    outline: none;
    color: rgb(55, 111, 208) !important;
    background: transparent !important;
}

.comPlainTextContentEditable {
    outline: none;

    &:focus {
        outline: none;
    }
}

.student__table-wrapper {
    min-height: 400px;
}

.inner__week-day {
    margin-right: 4px;
}

.ml__5px {
    margin-left: 5px;
}