@font-face {
    font-family: "Ropa Sans Bold";
    src : url("../../assets/fonts/RopaSansPro-Bold.ttf");
}

@font-face {
    font-family: "Ropa Sans Regular";
    src : url("../../assets/fonts/RopaSansPro-Regular.ttf");
}

@font-face {
    font-family: "Ropa Sans Light";
    src : url("../../assets/fonts/RopaSansSCPro-Light.ttf");
}

@font-face {
    font-family: "Ropa Sans Medium";
    src : url("../../assets/fonts/RopaSansPro-Medium.ttf");
}

@font-face {
    font-family: "Aqum Regular";
    src : url("../../assets/fonts/Aqum-Classic.otf");
}

@font-face {
    font-family: "Aqum Caps";
    src : url("../../assets/fonts/Aqum-Caps.otf");
}